footer {
    /*Distribucion*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*Forma*/
    height: 100vh;
    width: 10vw;
    background-image: url('../imagenes/Fondos/FONDOPRUEBA.png');
}

.mancha {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 8.1vh;
    width: 8.1vw;
    background-color: rgb(255, 255, 255);
    /* background-image: url('../imagenes/Fondos/D&D.png'); */
}