
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #8b0000; /* Fondo negro rojizo */
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilo al pasar el ratón sobre la barra desplegable */
  select:hover {
    background-color: #b30000; /* Cambia el color al pasar el ratón */
  }
  
  /* Estilo al enfocar la barra desplegable */
  select:focus {
    outline: none;
  }
  
  /* Estilo para las opciones */
  option {
    background-color: #8b0000; /* Fondo negro rojizo para las opciones */
    color: white;
  }
  
  /* Estilo al pasar el ratón sobre las opciones */
  option:hover {
    background-color: #b30000; /* Cambia el color al pasar el ratón sobre las opciones */
  }