.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #F51000, #000000);
}
h2 {
    text-align: center;
    color: #fff;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}
input[type="text"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #F0A105;
    color: #000000;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: linear-gradient(to bottom, #F46500, #F0A105);
    transition: 1s;
}