body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    /*Fondo*/
    background-image: url('../imagenes/Fondos/Mapa.png');
    background-repeat: no-repeat;
    background-size: cover;
}